# .htaccess main domain to subfolder redirect
# Copy and paste the following code into the .htaccess file
# in the public_html folder of your hosting account
# make the changes to the file according to the instructions.
  
# Do not change this line.
RewriteEngine on


RewriteRule ^(.*)/$ /$1 [R=301,L]


RewriteCond %{HTTP_HOST} ^www\smarteraback\.razmenidom\.com\.rs$
RewriteRule ^/?$ "http\:\/\/smarteraback\.razmenidom\.com\.rs\/" [R=301,L]


RewriteCond %{THE_REQUEST} ^[A-Z]+\ /public/([^\ ]+)
RewriteRule ^ /%1 [L,R=301]
# Change yourdomain.com to be your main domain.
RewriteCond %{HTTP_HOST} ^(www.)?smarteraback\.razmenidom\.com\.rs$
  
# Don't change this line.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
  
# Change 'subfolder' to be the folder you will use for your main domain.
RewriteRule ^((?!public/).*)$ public/$1 [L]

  
# Change yourdomain.com to be your main domain again.
# Change 'subfolder' to be the folder you will use for your main domain
# followed by / then the main file for your site, index.php, index.html, etc.
  
RewriteCond %{HTTP_HOST} ^(www.)?smarteraback\.razmenidom\.com\.rs$
RewriteRule ^(/)?$ public/index.php [L]

